h1 {
    color: whitesmoke ;
    font-size: 40px;
    padding-top: 100px;
    width: 100%;
    font-family: 'Courier New';
    text-align: center;
  }

body {
    background-color: black;  
    text-align: center;  
}

p {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    text-align: justify;
    font-size: 20px;
  }

  /* .image {
    background-image: url('https://content.codecademy.com/courses/freelance-1/unit-2/soccer.jpeg');
    background-size: cover;
    background-position: center;
    height: 300px;
  } */

 .intro {
     color: whitesmoke;
     font-size: 25px;
     text-align: justify;
      
  }

.contact {
    color: whitesmoke;
    font-size: 20px;
    
}

/* .navigation {
    padding: 40px 0px;
    position: relative;
    text-align: center;
    width: 100%;
 } */

/*  .navigation a {
    background:darkseagreen;
    border: 1px solid darkseagreen;
    border-radius: 3px;
    color: white;
    display: inline-block;
    margin: 10px;
    padding: 14px;
    text-decoration: none;
  } */
  
/*   .navigation a:hover {
    background: white;
    border: 1px solid darkseagreen;
    color: darkseagreen;
  } */

header {
  background-color: #466995;
  border-bottom: 1px solid #466995;
  position: fixed;
  width: 100%;
  z-index: 10;
}
